body{
	background-color: #F7F9FC;
	color : #7C7C7C; 
	font-family: 'Lora', serif;
	font-size: 25px; 
	font-weight: lighter;
	overflow-x: hidden
}

}
h1{
	color: #000000;
    font-weight: 500;
    font-size: 35px;
}

h2{
	color: black;
    font-weight: bold;
    font-size: 35px;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color : #6B72E1;
	font-weight: 600;
	font-weight: lighter;
	font-size: 25px;
}

a:hover{ 
	color: black;
	font-weight: bold;
 }

.container{
	width: 700px; 
	margin: 40px auto;
}

@media (max-height: 760px) {
.container{
	width: 600px; 
}
}

@media (max-height: 500px) {
.container{
	width: 400px; 
}
}

.card-white{
	background-color: white;
	padding: 40px; 
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.btn-blue{
	background-color: #FFB500;
	color: #000000;
	padding: 15px 20px;
	border-radius: 100px;
}

.btn-blue:hover {
	background-color: black;
	color: #7C7C7C;
}

.list-inline{
	list-style: none;
	padding: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 60px; 
	color: #FFB500; 
}

.list-inline i:hover {
	color: #7C7C7C;
}

#introduction p {
	margin-bottom: 40px;
}
#annonce {
	color: black;
}